@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
}

@layer utilities {
    .no-calendar-picker::-webkit-calendar-picker-indicator {
        display: none !important;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #e2e8f0;
        border-radius: 10px;
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #334155;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #cbd5e1;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Recharts Dark Mode Overrides */
.dark .recharts-default-tooltip {
    background-color: #1e293b !important;
    border-color: #334155 !important;
}

.dark .recharts-tooltip-item,
.dark .recharts-default-tooltip .recharts-tooltip-label {
    color: #f8fafc !important;
}

.dark .recharts-tooltip-cursor {
    fill: #334155 !important;
}